* {
    font-family: 'Comfortaa', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightpink;
}

.pokemon-list {
    list-style: none;
}

.pokemon-button {
    width: 300px;
    color: white;
    padding: 16px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    background-color: ivory;
    color: darkblue;
    border: 6px solid tomato;
    border-radius: 15px;
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    background: rgba (0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}